.button__primary {
  border: none;
  padding: 1rem 2rem;

  background-color: var(--secondary-color);
  color: var(--secondary-text-color);

  cursor: pointer;
}

.button__secondary {
  border: none;
  padding: 1rem 2rem;

  background-color: var(--main-color);
  color: var(--main-text-color);

  cursor: pointer;
}

.button__primary:hover {
  background-color: var(--tertiary-color);
  color: var(--main-text-color);

  border-radius: 0.2rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button__secondary:hover {
  background-color: var(--tertiary-color);

  border-radius: 0.2rem;
  transition: background-color 0.2s ease-in-out;
}
